@media screen and (min-width: 650px){
  .introduction {
    text-align: center;
    display: inline-block;
  }
}

.introduction-text {
  margin-bottom: 0px;
  text-align: center;
}

.file{
  padding: 20px;
}

.img{
  display: inline-block;
  margin: -80px;
}